.btn {
  background-color: #f57d00;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease all;
  cursor: pointer;
}

.btn:hover {
  background-color: #8f4d07;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
