.search_container {
  text-align: center;

  margin-top: 30px;
}

.search_container .container_input {
  padding: 30px 0;
}

.search_container h2 {
  color: #303030;
}

.container_input input {
  padding: 8px;
  width: 30%;
  margin-right: 10px;
  border-radius: 4px;

  color: #9a9a9a;

  border: 1px solid #dddddd;
}
